div.accordian__wrapper {
  border: solid;
  margin: auto;
  width: 90%;
}

nav ul.accordian__tabs-wrapper {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

li.accordian__tab {
  background: gray;
  border: solid;
  font-size: 24px;
  height: 4em;
  line-height: 100px;
  width: 25%;
}

section.accordian__page-wrapper {
  border: solid;
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
}

img.accordian__page-image {
  height: 24em;
  width: 33%;
}

div.accordian__page-content {
  width: 66%;
}

h3.accordian__page-title {
  font-size: 24px;
  text-align: left;
}

p.accordian__page-text {
  font-size: 24px;
  text-align: left
}

.acc__tab-is-active {
  background: white !important;
}
